:root {--main-sidebar-bg-color : #30988a;
			  --top-header-bg-color : #f9f5f5;
			  --btn-userbox-bg-color : #336f67;
			  --nav-active-bg-color : #336f67;
			  --nav-active-shadow-color :#fff;
			  --nav-hover-bg-color : #336f67;
			  --card-header-bg-color : #30988a;
			  --card-footer-bg-color : #fff;
			  --btn-primary-bg-color : #336f67;
			  --btn-default-bg-color : #656262;
			  --btn-secondary-bg-color : #6c757d;
			  --btn-danger-bg-color : #e22043;
			  --btn-success-bg-color : #369e0d;
			  --body-link-color : #3b3838;
			  --body-link-hover-color : #2851a3;
			}